.error-message{
    color:red;
    font-weight: bold;
    font-size: 120%;
}

.success-message{
    color:forestgreen;
    font-weight: bold;
    font-size: 120%;
    background-color: #fff;
}

.table-striped tr{
    cursor:pointer !important;
}

.table-no-border{
    border: 5px #b6d3e9 solid;
    width:100%;
    max-width:100%;
}

.table-no-border tr, th, td{
    border:none;
}

.table-no-border th, td{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
}

.table-no-border th{
    text-align: left;
}

